<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SMARAPD Reports</title>
    <link rel="stylesheet" type="text/css" href="./Style/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./Style/style.css">
    <link rel="icon shortcut" href="http://backoffice.smarapd.com.br:9999/smarapd.reports/imagens/favicon.ico" type="image/x-icon">

</head>
<body>
    <div class="container container-main">
        <div class="login-pane">
            <div class="main-logo">
                <a target="blank" href="http://www.smarapd.com.br/"><img src="./Style/logo_big.png"></a>
            </div>
            <div class="text-center">
                <h2>@ViewBag.Teste</h2>
                <h1>@ViewBag.Server</h1>
                <h1>@ViewBag.DataBase</h1>
                <h1>Tempo de Resposta: @ViewBag.Latencia ms</h1>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div><span class="iconSmarAPD "></span></div>
            <div class="footer-text ng-binding">
                © Copyright 2015-2015 <a href="http://www.smarapd.com.br/" target="_blank" style="color:#626261;">SMARAPD Informática</a>. Todos os direitos reservados.
            </div>
        </div>
    </footer>



</body>
</html>
